@mixin main-text-format {
    color: $text-color;
    font-family: $main-text;
    font-size: $font-size-base;
}

@mixin main-button {
    padding: .5em 2em;
    border: 1px solid $secondary-color;
    transition: $base-transition;
    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
    }
}

@mixin background-image-format {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}