//
// Imports
// --------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

// ==========================================================================
// Colors
// ==========================================================================

$primary-color: #4ECE63;
$secondary-color: #fff;
$text-color: #000;
$border-color: lighten($primary-color, 20%);
$error-color:#ff0000;

// ==========================================================================
// Fonts
// ==========================================================================

$header-text: Bungee, cursive;
$main-text: Varela Round, sans-serif;

// ==========================================================================
// Misc
// ==========================================================================

$font-size-base: .8em;
$line-height-base: 1.6em;
$image-border: 1px solid rgba(0,0,0,0.1);
$box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
$base-transition: 0.3s ease;


