.wrapper {
	
	h3 {
		margin: 1em 0;
	}


	.checkout-page {
		font-family: 'FuturaBT-Book';
		color: #000;


		.checkout-form {

			.checkout-form-group {
				display: flex;
				flex-direction: column;

				.checkout-form-control {
					@apply auth-form-input shadow appearance-none border; 
					@apply rounded w-full p-2 text-gray-700 leading-tight;
					margin: .5em 0;
					&:focus {
						outline: none;
						box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					}
				}

				.checkout-dropdown {
					@apply block appearance-none w-full;
					@apply border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
					width: 100%;
					margin: 1em 0;

					&:focus {
						outline: none;
						background: #fff;
						border: 1px solid #949494;
					}
				}	

				label {
					margin: .5em 0;
					color: #000;
				}
			}
		}
	}


	.payment-method {
		.form-control {
			margin: 1em 0;
			@apply bg-white border border-gray-300 rounded-lg;
			@apply py-2 px-4 block w-full appearance-none leading-normal;
			&:focus {
				outline: none;
				box-shadow: 0 0 5px rgba(81, 203, 238, 1);
			}
		}

		.payment-icons {
			img {
				display: inline-block;
				width: 1em;
			}
		}
	}

	.order-summary {
		padding: 1em;
		border: 1px solid rgba(0,0,0,0.1);

		h5 {
			margin: 1em 0;
			font-weight: 600;
		}

		.cart-item {
			margin: 1em 0;
			border-bottom: 1px solid rgba(0,0,0,0.1);

			.item-group {
				display: flex;
				justify-content: space-between;
				align-content: center; 

				p {
					text-align: center;
				}
			}
		}

		.cart-total {
			margin: 1em 0;
			display: flex;
			justify-content: space-between;
			vertical-align: middle;
		}

	}

	@media only screen and (min-width: 768px) {
		.checkout-page {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 2em;

			.order-summary {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				padding: 1em 2em;
				order: 2;
			}

			.checkout-form {
				grid-column: 2 / 3;
				grid-row: 1 / 4;
				order: 1;
			}
		}
	}	
}