.checkout-form {
	h3 {
		margin: 2em;
	}
}

.payment-method {
	.form-control {
		margin: 1em 0;
	}

	.payment-icons {
		img {
			width: 1em;
		}
	}

	.col-lg-4 {
		margin: 0 3.5em;
	}
}
.orders-table {
	.cart-items div {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
}


@media only screen and (min-width: 1024px) {
	.payment-method {
		.col-lg-4 {
			margin: 0;
		}
	}
}	