.carousel {
	
	.caroursel-item {
		img {
			min-width: 100%;
		}
	}

	.carousel-indicators {
		margin: 2rem 0;
	}
}

.section-title {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.single-features-ads {

}





@media only screen and (min-width: 1024px) {
}