.product-img {
	text-align: center;
    padding: 1em;
    width: 100%;
    height: auto;
    img {
    	width: 100%;
    	height: auto;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    }
}

.product-content {
    line-height: 1.5em;
    margin: 0 0 2em 0;

    h2,
    h5,
    p,
    ul,
    a,
    span {
        margin: 1em 0;
    }

    .quantity-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
        margin: 1em 0;
        border: 1px solid rgba(0,0,0,0.1);
        max-width: 90px;


        .quantity-decrement {
            grid-column: 1 / 2;
            margin: 0;
            border-right: 1px solid rgba(0,0,0,0.1);
            cursor: pointer;
        }

        .quantity {
            max-width: 10px;
            grid-column: 2 / 3;
            align-self: center;
        }

        .quantity-increment {
            grid-column: 3 / 4;
            margin: 0;
            border-left: 1px solid rgba(0,0,0,0.1);
            cursor: pointer;
        } 

        p,
        input {
            padding: 0 .8em;
        }
    }

    .tags {
        span {
            font-weight: 800;
        }
    }
}

.alert {
margin: 1.4rem 0;
width: 100%;
}

@media only screen and (min-width: 768px) {
    .product-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;

        .product-img {
            min-height: 570px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .product-page {
        grid-gap: 2em;

        .product-content {
            p {
                line-height: 2em;
            }
        }
    }
}