.profile-menu {
	border: 1px solid #D2D2D2;
	font-family: 'FuturaBT-Book';
	max-width: 256px;
	margin: 1em 0;
	text-align: left;
	display: flex;
	flex-direction: column;

	a {
		padding: .5em;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		&:hover {
			background: #D2D2D2;
		}
	}
}

